body {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgb(123, 226, 252);
}
#lookFor {
  padding: 15px;
  position: fixed;
  margin-top: 1%;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  border-radius: 15px;
  font-size: 30px;
  width: clamp(200px, 15%, 250px);
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#svgContainer{
  width: 100vw;
  height: 100vh;
}
path:hover {
  fill: dodgerblue;
}
#score {
  padding: 15px;
  position: fixed;
  margin-top: 1%;
  top: 15px;
  left: 90%;
  transform: translateX(-50%);
  z-index: 10;
  border-radius: 15px;
  font-size: 30px;
  width: clamp(200px, 15%, 250px);
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 600px) {
  html {
    display: none;
  }
}
.basic {
  background-color: #dbe8f2;
}
.correct {
  background-color: dodgerblue;
  color: white;
}
.incorrect {
  background-color: red;
}
